
div.well{
    height: 250px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 20%; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 0 40px 40px 40px 40px;
}


#logo-container{
    height:100%;
    width:100%;
    background-image:url(../Images/lg.jpg);

}

.label {

    font-style:normal;
    font-size:small;
    color:black;
}
