<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<context:component-scan base-package="com.lgcns.erp.tapps.controller, com.lgcns.erp.hr.controller, com.lgcns.erp.workflow.controller, com.lgcns.erp.attendanceManagement" />
	<context:component-scan base-package="com.lgcns.erp.scheduleManagement.controller"/>
	<context:component-scan base-package="com.lgcns.erp.assetManagement.controller"/>
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:message.properties</value>
			</list>
		</property>
	</bean>

	<!-- Register the Customer.properties -->
	<bean id="messageSource"
		  class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="message" />
	</bean>

	<bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- max upload size in bytes -->
		<property name="maxUploadSize" value="20971520" /> <!-- 20MB -->

		<!-- max size of file in memory (in bytes) -->
		<property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->

	</bean>

	<bean
			class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">Error</prop>
			</props>
		</property>
	</bean>

	<bean id="ScheduleTestService" class="com.lgcns.erp.scheduleManagement.serviceImpl.ScheduleMainmpl">

	</bean>

	<bean id="sceduleUpdate" class="com.lgcns.erp.scheduleManagement.serviceImpl.ScheduleUpdateImpl">

	</bean>

	<bean id="assetCategoryService" class="com.lgcns.erp.assetManagement.serviceImpl.AssetCategoryServiceImpl">

	</bean>

	<bean id="assetService" class="com.lgcns.erp.assetManagement.serviceImpl.AssetServiceImpl">

	</bean>

	<bean id="assetHistoryService" class="com.lgcns.erp.assetManagement.serviceImpl.AssetHistoryServiceImpl">

	</bean>
	<!--<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
    </bean>

    &lt;!&ndash;
      View resolvers can also be configured with ResourceBundles or XML files. If you need
      different view resolving based on Locale, you have to use the resource bundle resolver.
    &ndash;&gt;
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
    </bean>-->



	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/monitorScripts/**" location="/WEB-INF/views/jsp/monitor/" />
	<mvc:resources mapping="/image/**" location="file:///C:/files/photos/" />
	<mvc:resources mapping="/temp/**" location="file:///C:/files/temp/" />
	<mvc:annotation-driven />
	<security:global-method-security pre-post-annotations="enabled" />
</beans>